<form asp-action="publish" class="container">
    <h1 class="d-flex mb-5 justify-content-center">
        O que deseja publicar? 
    </h1>
    <div class="d-flex mb-3 col-5 justify-content-center">
        <input class="form-control" type="file" id="formFile">
    </div>
    <div class="mb-3">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Success</button>
</form>