<form asp-action="publish" class="container">
    <h1>O que deseja publicar? </h1>
    <div class="mb-3">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="button" class="btn btn-success">Success</button>
</form>