@model PublicacaoModel
@{
    ViewData["Title"] = "Editar Publicação";
}

<div class="text-center">
    <h1 class="display-4">Editar Publicação</h1>
</div>


<form asp-controller="Home" asp-action="Editar" method="post">

    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label for="conteudoTexto" class="form-label">Conteudo da publicação</label>
        <input type="text" asp-for="Conteudo" class="form-control" placeholder="Digite sua Publicação">
        @Html.ValidationMessageFor(x => x.Conteudo)
    </div>

    <button type="submit" class="btn btn-primary btn-block">Alterar</button>
    <a class="btn btn-secondary btn-block" asp-action="Index" asp-controller="Home" role="button">Voltar</a>

</form>