@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div style="height: 80vh;" class="row">
        <div class="col-3 d-flex justify-content-center align-items-center">
            <div>
                Título
            </div>
        </div>
        <div class="col-6 d-flex justify-content-center align-items-center">
            <div>
                Publicação
            </div>
        </div>
        <div class="col-3 d-flex justify-content-center align-items-center">
            <div>
                Comentários
            </div>
        </div>
    </div>
</div>
