@model CadernoDigital.Models.LoginModel
@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Login";
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/assets/login.svg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="mb-4">
                            <h3>Caderno Digital</h3>
                            <p class="mb-4">Bem-vindo(a) ao seu Caderno Digital! Aqui você pode anotar suas idéias, pensamentos e tarefas de forma prática e organizada. Espero que aproveite ao máximo essa ferramenta para aumentar sua produtividade e alcançar seus objetivos.</p>
                        </div>
                        <form asp-controller="Login" asp-action="Logar" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="mb-3">
                                <label class="form-label">Matrícula</label>
                                <input type="text" asp-for="Matricula" class="form-control" id="matricula">
                                <span asp-validation-for="Matricula" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Senha</label>
                                <input type="password" asp-for="Senha" class="form-control" id="senha">
                                <span asp-validation-for="Senha" class="text-danger"></span>
                            </div>
                            <button type="submit" value="Enviar" class="btn btn-primary">Entrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>